[submodule "models/differentiable-robot-model"]
	path = models/differentiable-robot-model
	url = git@github.com:facebookresearch/differentiable-robot-model.git
[submodule "models/reachy_description"]
	path = models/reachy_description
	url = git@github.com:aubrune/reachy_description.git
[submodule "models/baxter_common"]
	path = models/baxter_common
	url = git@github.com:RethinkRobotics/baxter_common.git
[submodule "models/vigir_atlas_common"]
	path = models/vigir_atlas_common
	url = git@github.com:team-vigir/vigir_atlas_common.git
[submodule "models/anymal_c_simple_description"]
	path = models/anymal_c_simple_description
	url = git@github.com:ANYbotics/anymal_c_simple_description.git
[submodule "models/jaxon_description"]
	path = models/jaxon_description
	url = git@github.com:robot-descriptions/jaxon_description.git
[submodule "models/rtmros_nextage"]
	path = models/rtmros_nextage
	url = git@github.com:tork-a/rtmros_nextage.git
[submodule "models/poppy_ergo_jr_description"]
	path = models/poppy_ergo_jr_description
	url = https://github.com/poppy-project/poppy_ergo_jr_description.git
[submodule "models/icub-models"]
	path = models/icub-models
	url = git@github.com:robotology/icub-models.git
[submodule "models/example-robot-data"]
	path = models/example-robot-data
	url = git@github.com:Gepetto/example-robot-data.git
